html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 20px;
}

h1, h2, p{
  margin: 0px 0px 20px 0px;
}

#main {
  margin: auto;
  /*height: 400px;  
  width: 600px;*/
  box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.5);
  border-radius: 10px;
  overflow: hidden;
  font-family: serif;
}

#topSection {
  padding: 25px 25px 25px 25px;
  height: 50%;
  width: 100%;
}

#topSection h1 {
  color: #20B2AA;
}

#topSection h2 {
  color: #9ACD32;
}

#topSection p {
  color: #696969;
}

#bottomSection {
  height: 60%;
  width: 100%;
  color: white;
}

#leftSection {
  display: inline-block;
  background-color: #20B2AA;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

#price, #renewal {
  display: inline-block;
}

#price {
  font-weight: 700;
  font-size: 1.4rem;
}

#renewal {
  position: relative;
  top: -5px;
  font-size: 0.9rem;
}

#leftSection button {
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  width: 100%;
  background-color: #9ACD32;
}

#leftSection button:hover {
  cursor: pointer;
  background-color: #8ab92d;
  transform: scale(1.02);
}

#rightSection {
  display: inline-block;
  background-color: #00CED1;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

#rightSection ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#rightSection li {
  font-size: 0.9rem;
}

#leftSection, #rightSection {
  padding: 25px;
}

@media (min-width: 576px) {
  #leftSection, #rightSection {
    width: 50%;
  }
  
  #main {
    height: 400px;
    width: 550px;
  }
}
